<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaCampinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class='container'>
        <h1> Jogadores: </h1>
        <ul>
            {% for jogador in jogadores %}
                <li> {{ jogador[1] }} - {{ jogador[2] }} anos - {{ jogador[3] }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('novo_jogador') }}"><button class='add_player'> Cadastrar Jogador </button></a>
        <a href="{{ url_for('limpar_jogador') }}"><button class='clear_btn'> Limpar Lista de Jogadores </button></a>
    </div>

    <div class = "container_teste">
        <h1> Jogos </h1>
        <ul>
            { % for jogo in jogos % }
                <li> {{ table_jogos[1] }} <button class = "access_match"></button> </li>
            { % endfor % }
        </ul>

  <a href="{{url_for('novo_jogo')}}"><button class = "new_match"> Nova partida </button></a>
    </div>
</body>
</html>
