<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão FlaCampinas</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">   
</head>
<body>
    <header>
        <nav>
            <ul class = first_nav>

                <li> <h2> FlaCampinas </h2></li>

            </ul>
            <ul class = second_nav>

                <li><a href="#">Entrar</a></li>
                
                <li> <a href="#">Cadastrar</a></li>

            </ul>
        </nav>
    </header>


    <main>
        <div id = box_login></div>

            <img src="" alt= "foto_grupo_flacampinas">

            <label for=""> Usuário: <input type="text" placeholder="Usuário"></label>

            <label for=""> Senha: <input type="password" name="password" id="" placeholder="Senha"></label>

        </div>

        <div id = cadastro>

            <p>Cade sua conta irmão?<a href="#"> Clica ai e cria! </a></p>

        </div>


    </main>


<script src="scripts.js"></script>
</body>
</html>